/* You can add global styles to this file, and also import other style files */
*,
*:before,
*:after {
  box-sizing: inherit;
}

body{
    margin: 0;
    padding: 0;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}